# These variables should be set your EAS project
# Then run `yarn pull:eas-env development` to generate the .env file that looks like this

APP_ENV=development
GOOGLE_GENERATIVE_AI_API_KEY=YOUR_API_KEY_HERE # All environment platforms should have this key
